p This is <span class="lead">ELThacks</span> – a place to blog about...
ul
  li teaching
  li training
  li and a whole load of other stuff

p The site is <span class="italic">under development</span>, so do expect changes!
